Repository qodo-ai/qodo-cover, pull requests merged in 2024-05, with the labels that each got.

#10 Update README.md
  README.md
Labels: documentation

#12 Move to automated version release when intended
  .github/workflows/ci_pipeline.yml
Labels: enhancement, configuration changes, Review effort [1-5]: 2

#14 Update README and gitignore
  .gitignore
  README.md
Labels: documentation, Review effort [1-5]: 1

#24 Moving to LiteLLM with env var approach. Closes #15.
  .github/workflows/ci_pipeline.yml
  README.md
  cover_agent/AICaller.py
  cover_agent/UnitTestGenerator.py
  cover_agent/main.py
  poetry.lock
  pyproject.toml
  tests/test_AICaller.py
Labels: documentation, enhancement, Review effort [1-5]: 3, Tests

#26 Increment version to get released binaries for #15.
  .github/workflows/ci_pipeline.yml
  cover_agent/version.txt
Labels: enhancement, Review effort [1-5]: 1, Tests

#31 Added requirement for Cobertura XML report. Closes #22.
  README.md
Labels: documentation, Review effort [1-5]: 1

#29 Refactored AI Caller into init of UnitTestGenerator. Closes #28
  cover_agent/AICaller.py
  cover_agent/UnitTestGenerator.py
  cover_agent/main.py
  tests/test_AICaller.py
  tests/test_UnitTestGenerator.py
Labels: enhancement, Review effort [1-5]: 2, Tests

#43 Add new YAML processing tests in test_load_yaml.py for snippet extration
  tests/test_load_yaml.py
Labels: Review effort [1-5]: 2, Tests

#37 Adding Google Cloud API Pip package for LLM support. Closes #35.
  poetry.lock
  pyproject.toml
Labels: enhancement, Review effort [1-5]: 2, dependencies

#48 Add comprehensive fallback YAML parsing in utils.py and update README
  README.md
  cover_agent/utils.py
  tests/test_load_yaml.py
Labels: documentation, enhancement, Review effort [1-5]: 3

#50 Tr/making the tests great
  .github/workflows/ci_pipeline.yml
  Makefile
  cover_agent/PromptBuilder.py
  cover_agent/UnitTestGenerator.py
  cover_agent/main.py
  cover_agent/settings/test_generation_prompt.toml
  cover_agent/version.txt
  poetry.lock
  templated_tests/js_vanilla/README.md
  templated_tests/js_vanilla/app.js
  templated_tests/js_vanilla/bootstrap.min.css
  templated_tests/js_vanilla/github.js
  templated_tests/js_vanilla/index.html
  templated_tests/js_vanilla/package.json
  templated_tests/js_vanilla/style.css
  templated_tests/js_vanilla/ui.js
  templated_tests/js_vanilla/ui.test.js
  templated_tests/js_vanilla/vitest.config.js
  tests/test_UnitTestGenerator.py
  tests_integration/README.md
  tests_integration/python_fastapi/Dockerfile
  tests_integration/python_fastapi/test_openai.sh
Labels: enhancement, Tests, Review effort [1-5]: 4

#54 Added Vanilla JS example project
  templated_tests/js_vanilla/.gitignore
  templated_tests/js_vanilla/README.md
  templated_tests/js_vanilla/vitest.config.js
Labels: documentation, enhancement, Review effort [1-5]: 3, Tests

#56 Add to support openai compatible endpoint
  README.md
  cover_agent/AICaller.py
Labels: documentation, enhancement, Review effort [1-5]: 2

#60 Make the baseline example work with inferior models for code
  Makefile
  cover_agent/PromptBuilder.py
  cover_agent/UnitTestGenerator.py
  cover_agent/main.py
  cover_agent/settings/analyze_suite_test_headers_indentation.toml
  cover_agent/settings/analyze_suite_test_insert_line.toml
  cover_agent/settings/config_loader.py
  cover_agent/settings/test_generation_prompt.toml
  cover_agent/utils.py
  cover_agent/version.txt
  tests/test_AICaller.py
  tests/test_UnitTestGenerator.py
  tests/test_main.py
Labels: enhancement, Tests, Review effort [1-5]: 4

#63 Tr/prompts2
  cover_agent/main.py
  cover_agent/settings/test_generation_prompt.toml
  tests/test_UnitTestGenerator.py
  tests/test_load_yaml.py
Labels: enhancement, Review effort [1-5]: 2, Tests

#67 Black Formatting.
  cover_agent/AICaller.py
  cover_agent/CoverAgent.py
  cover_agent/PromptBuilder.py
  cover_agent/UnitTestGenerator.py
  cover_agent/main.py
  cover_agent/settings/config_loader.py
  cover_agent/utils.py
  tests/test_AICaller.py
  tests/test_CoverAgent.py
  tests/test_UnitTestGenerator.py
  tests/test_load_yaml.py
  tests/test_main.py
Labels: Review effort [1-5]: 2, formatting

#61 Add Integration tests using templated tests
  templated_tests/go_webservice/Dockerfile
  templated_tests/python_fastapi/Dockerfile
  tests_integration/README.md
  tests_integration/python_fastapi/test_openai.sh
  tests_integration/test_all.sh
  tests_integration/test_with_docker.sh
Labels: documentation, Review effort [1-5]: 3, Tests

#62 Jacoco Coverage for Java
  README.md
  cover_agent/CoverageProcessor.py
  cover_agent/UnitTestGenerator.py
  templated_tests/java_gradle/.gitignore
  templated_tests/java_gradle/README.md
  templated_tests/java_gradle/build.gradle
  templated_tests/java_gradle/gradle/wrapper/gradle-wrapper.jar
  templated_tests/java_gradle/gradle/wrapper/gradle-wrapper.properties
  templated_tests/java_gradle/gradlew
  templated_tests/java_gradle/gradlew.bat
  templated_tests/java_gradle/settings.gradle
  templated_tests/java_gradle/src/main/java/com/davidparry/cover/SimpleMathOperations.java
  templated_tests/java_gradle/src/test/groovy/com/davidparry/cover/SimpleMathOperationsSpec.groovy
  tests/test_CoverageProcessor.py
Labels: documentation, enhancement, Review effort [1-5]: 3, Tests
